<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
    <style>
        .search{
            background-color:#c5effe;
            padding: 20px;
            border-radius: 20px;
            align-items: center;
            float:center;
            width:440px;
            margin-left: 510px;
            margin-top:40px;
           
        }
    </style>
</head>
<body >
    {% extends 'base.html' %} 
    {% block home %} 
    <div class="search">
    <center><u><h1>Search Product</h1></u>
        <form method='post' action="perform">
            {% csrf_token %}
        <h2>Enter Product Name:</h2><input type="text" name="name" id="inpt"><br>
        <br>
    <button style="font-size: medium;color:antiquewhite; background-color: brown;">search</button>
</form>  
<script>
    window.onload=function(){inpt.focus()}
</script>
    </center>
    {% endblock %} 
</div>
</body>
</html>