<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body >

    <center>
        <h1 style="color:crimson;font-style:oblique;font-size:45px">AB HOMENEEDS</h1>

        <u><h1 style="color:rgb(0, 116, 0);font-size:40px">Total Bill</h1></u></center> 
        <h2>Date : 03-07-2023</h2>
    <table align="center" border="1" >
    <thead>
        <tr style="color:blue;font-weight:800;background-color:bisque;padding:1px">
            <td>S.NO</td>
            <td>Name</td>
            <td>Quantity</td>
            <td>Price</td>
            <td>Total</td>
        </tr>
    </thead>

    <tbody>
        
        <tr style="font-weight:bolder;padding:2px;">
            <td>1</td>
            <td>TAVVA</td>
            <td>2.0</td>
            <td>260.0</td>
            <td>520.0</td>
        
        <tr style="font-weight:bolder;padding:2px;">
            <td>2</td>
            <td>PLATE</td>
            <td>11.0</td>
            <td>75.0</td>
            <td>825.0</td>
        
    
    </tbody>
</table>
    <center><h2>Total Price: 1345.0</h2>
        <h1>Thank you visit again.....</h1>
</body>
</html>